body {
    text-align: center;
    background: linear-gradient(black 0%, deeppink 100%);
}

#gridimages img {
    height: 170px !important;
    width: 300px !important;
    border-width: 8px;
    margin: 10px;
    border-color: white;
    border-style: solid;
}

.line {
    height: 6px;
    background-color: white;
    width: 70px;
    margin: 8px auto;
}

img {
    width: 500px;
    height: 300px;
}

p {
    color: white;
    font-size:40px;
}
